		<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
			<li>
				<a href="/">首页</a>
			</li>
			<li>
				&nbsp;&nbsp;/&nbsp;&nbsp;
				<a href="/search">旅行线路</a>
			</li>
			<li>
				&nbsp;&nbsp;/&nbsp;&nbsp;<%= @travel.name %>
			</li>
		</ul>
		<div class="self_clear">
			
			<%= render :partial => "travels/travel_sidebar", :locals => { :travel => @travel } %>

			<div id="primary_content" class="align_edges">
				<iframe style="position:absolute; left:-9999px;" id="print-frame" src="/images/transparent.gif"></iframe>
				<!-- PRIMARY HEADING -->
				<h1><%= @travel.name %></h1>
				<h4 class="clear_margins icon luxury amp" style="padding-top:2px;">
					<%= @travel.interests.first.title %>
				</h4>
				<!-- LIVEPERSON -->
				<!-- LINK LIST -->
				<ul class="attribute_list">
					<li>
						<a class="icon download" href="<%= @travel.brochures.first.doc.url %>">下载旅行手册</a>
					</li>
					<li>
						<a rel="nofollow" class="icon print" title="Print This Trip" href="#" onclick="javascript:window.print(); return false" target="_blank">打印该线路</a>
					</li>
				</ul>
				<!-- TRIP NAVIGATION -->
				<div id="trip_navigation_top" class="self_clear padding_6_tabs">
					<ul>
						<li class="current">
							<a href="#tab1" title="Overview">线路介绍</a>
						</li>
						<li>
							<a href="#tab7" title="景点介绍">景点介绍</a>
						</li>
						<li>
							<a href="#tab2" title="Itinerary">行程</a>
						</li>
						<li>
							<a href="#tab3" title="Dates &amp; Prices">团期和价格</a>
						</li>
						<% if @extend_travels and @extend_travels.size > 0 %>
						<li>
							<a href="#tab4" title="Extensions">扩展线路</a>
						</li>
						<% end %>
						<li>
							<a href="#tab5" title="Ask a Question">提问</a>
						</li>
						<li>
							<a href="#tab6" title="Ask a Question">用户点评</a>
						</li>
					</ul>
				</div>

				<!-- TRIP OVERVIEW -->
				<div id="tab1" class="tab_item">
					<h2>线路介绍</h2>
					<div class="trip_overview">
						<div class="self_clear">
							<div id="mini_map">
								<img width="205px" title="<%= @travel.name %>" alt="<%= @travel.name %>" src="<%= @travel.desc_mappic.url %>">
							</div>
							<img src="<%= @travel.cover.url %>" alt="<%= @travel.name %>" title="View <%= @travel.name %>" width="125" height="125">
							<ul class="align_edges line_rule clear_margins">
								<li>
									<span>
										<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="<%= @travel.interests.first.title %>"><%= @travel.interests.first.title %></a>
									</span>
									系列:
								</li>
								<li>
									<span>$<%= @travel.priced_from %></span>
									最低价格:
								</li>
								<li>
									<span><%= @travel.days_count %></span>
									天数:
								</li>
								<li>
									<span><%= @travel.departures %></span>
									启程:
								</li>
								<li>
									<span><%= @travel.max_group_size %></span>
									名额:
								</li>
							</ul>
						</div>
					</div>
					<p>
						<%= raw @travel.overview_desc %>
					</p>



					  
					<!-- 原景点介绍位置 -->



					
					<!-- & MOMENTS -->
					<h2>线路特点</h2>
					<p>
						<%= raw @travel.overview_advantage %>
					</p>
					<div class="text_modal">
						<a class="close"></a>
						<div class="overlay-details">
							<div class="overlay-padding">
								<h3 class="clear_margins"><%= @travel.interests.first.title %></h3>
								<p style="margin-bottom: 0px;"><%= @travel.interests.first.cont %></p>
							</div>
						</div>
					</div>
				</div>
				<div id="tab7" class="hide tab_item">
					<h2>景点介绍</h2>
					

					<% if @travel.gallery.photos.size > 0 %>
			          <div id="inline_gallery" class="float_right hide_from_print round_corners color_f4f4f4">
			            <div class="ctl"></div>
			            <div class="ctr"></div>
			            <div class="cbr"></div>
			            <div class="cbl"></div>
			            <div class="inline_gallery self_clear">
			              <div id="destination_slides" style="height:276px;">
			                <% @travel.gallery.photos.each do |photo| %>
			                <img src="<%= photo.pic.url %>" alt="<%= photo.desc %>" >
			                <% end %>
			              </div>  
			              <div id="popout_modal" style="display: none;" class="alt">
			                <div class="close_modal" onclick="modal_close();">X</div>
			                <strong class="title"><%= Destination.find(3).gallery.title %></strong>
			                <div id="destination_slides_modal">

			                  <% @travel.gallery.photos.each do |photo| %>
			                    <img src="<%= photo.pic.url %>" alt="<%= photo.desc %>" >
			                  <% end %>
			                </div>
			                <p class="slide_img_title"></p>
			              </div>
			              <p class="slide_img_title"></p>           
			              <p>
			                <a class="icon open_window" href="javascript:void(0);" onclick="modal_slides_atn();">查看大尺寸图片</a>
			              </p>
			            </div>
			          </div>
			          <% end %>

			          <p><%= raw @travel.jindian %></p>
				</div>

				<div id="tab2" class="hide tab_item">
					<h2>行程</h2>

					<a href="#" onclick="largeMap(this);return false;"><img class="float_right" src="<%= @travel.itinerary_pic.url %>" alt="<%= @travel.name %>" title="View <%= @travel.name %>" width="300"><img style="display: none" src="<%= @travel.itinerary_bigpic.url %>"></a>


					<dl class="itinerary">
						<% @travel.itineraries.each do |itinerary| %>
						<dt><%= itinerary.name %></dt>
						<dd>
							<p>
								<%= itinerary.desc %>
							</p>
							<em><a class="icon camera_white" href="javascript:void(0);" onclick="modal_slides(<%= itinerary.hotel.gallery.id %>)"><%= itinerary.hotel.name %></a></em> 
							&nbsp;&nbsp;|&nbsp;&nbsp;
							<em>Meals: <%= itinerary.meals %></em>
							<!-- popout modals  -->

						</dd>
						<% end %>
					</dl>
				</div>
				<div id="tab3" class="hide tab_item">
					<h2>团期和价格</h2>
					<p>价格为人民币单人价格, 标准间。</p>
					<div id="price_departure_box" class="self_clear hide">
						<div>
							<img src="/images/departure_guarantee_small.gif" width="82" height="27">
							Book with confidence — we guarantee that all small-group journeys will depart as planned.
						</div>
						<div>
							<a href="/legal/price_assurance.cfm">
								<img src="/images/price_assurance_small.gif" width="82" height="27"></a>
							If the price goes down after you book, we will refund the difference — guaranteed.
						</div>
					</div>
					<div id="dates_prices">
						<dl class="expando">
							
							<% @travel.datesprices.each_with_index do |datesprice, index| %>
							<dt>
								<table width="100%">
									<thead>
										<tr>
											<th width="362">
												<a name="20131008" href="javascript:void(0);"><%= datesprice.start_date.strftime("%Y年%m月%d日") %> - <%= datesprice.end_date.strftime("%Y年%m月%d日") %></a>
											</th>
											<th></th>
											<th class="last_child"><%= datesprice.is_available? ? "可预订" : "不可预订" %> </th>
										</tr>
									</thead>
								</table>
							</dt>
							<dd>
								<form  class="departure_form" action="/bookings/new" method="get">
									<table>
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>价格</th>
												<th>单程补充</th>
												<th>机票</th>
												<th>是否可预订</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="width20">
													<% if datesprice.is_available? %>
													<label for="packageDateID_393641">
														<input type="radio" name="datesprice_id" value="<%= datesprice.id %>" <%= "checked" if index.zero? %>></label>
													<% end %>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$<%= datesprice.prices %></label>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$<%= datesprice.single_supplement %></label>
												</td>
												<td class="width138">
													<label for="packageDateID_393641">$<%= datesprice.internal_airfare %></label>
												</td>
												<td class="width116">
													<label for="packageDateID_393641"><%= datesprice.is_available? ? "可预订" : "不可预订" %></label>
												</td>
											</tr>
										</tbody>
									</table>
									<% if datesprice.is_available? %>
									<div class="request_booking">
										<span>
											<input type="submit" value="提交订单"></span>
										<div id="error_form_393641"></div>
										请输入您预订的人数
										<input name="people_count" type="text" size="2" maxlength="2"></div>
									<% end %>
								</form>
							</dd>
							<% end %>


						</dl>
					</div>
					<hr>
					<p></p>
					<h3 style="font-weight:normal;">提示:</h3>
					<p>
						<%= raw @travel.notes %>
					</p>
				</div>
				<div id="tab4" class="hide tab_item">
					<h2>相关扩展线路推荐</h2>
					<p>
						您可以选择以下扩展线路，所有可选扩展线路都可预订.
					</p>
					<dl id="search_results" class="self_clear line_rule cap_ends">
						<% @extend_travels.each do |extend_travel| %>
						<dt>
							<a href="/travels/<%= extend_travel.id %>" title="View the overview for <%= extend_travel.name %>"><%= extend_travel.name %></a>
						</dt>
						<dd>
							<div class="trip_overview">
								<div class="self_clear">
									<a href="/travels/<%= extend_travel.id %>" title="View the overview for <%= extend_travel.name %>">

										<img src="<%= extend_travel.cover.url %>" alt="View details for <%= extend_travel.name %>" title="View details for <%= extend_travel.name %>" width="125" height="125"></a>
									<ul class="link_list self_clear clear_list_style">
										<li>
											<a class="icon swirl_arrow" href="/travels/<%= extend_travel.id %>" title="View the overview for <%= extend_travel.name %>">线路介绍</a>
										</li>
										<li>
											<a class="icon notebook" href="/travels/<%= extend_travel.id %>#tab2" title="View the itinerary for Aurangabad Extension">行程</a>
										</li>
										<li>
											<a class="icon dates" href="/travels/<%= extend_travel.id %>#tab3" title="View the dates &amp; prices for Aurangabad Extension">团期和价格</a>
										</li>
									</ul>
									<ul class="align_edges line_rule clear_margins">
										<li>
											<span>
												<a class="icon extensions amp" href="javascript:void(0);"  title="Extension">扩展线路</a>
											</span>
											系列:
										</li>
										<li>
											<span><%= extend_travel.priced_from %></span>
											最低价格:
										</li>
										<li>
											<span><%= extend_travel.days_count %></span>
											天数:
										</li>
										<li>
											<span><%= extend_travel.departures %></span>
											启程:
										</li>
										<li>
											<span><%= extend_travel.max_group_size %></span>
											最大名额:
										</li>
									</ul>
								</div>
							</div>
						</dd>
						<% end %>
					</dl>
				</div>
				<div id="tab5" class="hide tab_item">
					<div style="width:80%">
						<div class="self-clear">
							<p id="requiredText">
								Required <em>*</em>
							</p>
						</div>
						<form action="/questions" id="faq_form" method="post" name="faq_form" class="uniForm">
							<fieldset class="inlineLabels">
								<h3>向我们提问</h3>
								<div id="ctrlHolder_contact_preference" class="ctrlHolder borderTop">
									<p class="errorFieldHide" id="contact_preference_err"></p>
									<p class="label ">最佳联系方式</p>
									<label for="contact_preference-1" class="inlineLabel">
										<input name="question[preferred_contact_method]" id="contact_preference-1" type="radio" value="Email" checked="checked" class="" tabindex="1">邮箱</label>
									<label for="contact_preference-2" class="inlineLabel">
										<input name="question[preferred_contact_method]" id="contact_preference-2" type="radio" value="Daytime Phone" class="" tabindex="1">电话</label>
								</div>
								<div id="ctrlHolder_email" class="ctrlHolder">
									<p class="errorFieldHide" id="email_err">Enter a valid email address</p>
									<label for="email" class="required"> <em>*</em>
										邮箱
									</label>
									<input name="question[email]" id="email" value="" size="30" type="text" class="required email" tabindex="2">          
								</div>
								<div id="ctrlHolder_title" class="ctrlHolder">
									<p class="errorFieldHide" id="title_err">Select your title</p>
									<label for="title" class="required">
										<em>*</em>
										性别
									</label>
									<select name="question[mrs_title]" id="title" class="required" tabindex="3">
										<option value="0">请选择性别</option>
										<option value="153">男士</option>
										<option value="154">女士</option>
									</select>
								</div>
								<div id="ctrlHolder_firstName" class="ctrlHolder">
									<p class="errorFieldHide" id="firstName_err">Enter your first name</p>
									<label for="firstName" class="required">
										<em>*</em>
										您的名字
									</label>
									<input name="question[first_name]" id="firstName" value="" size="30" type="text" class="required" tabindex="4">          
								</div>
								<div id="ctrlHolder_country" class="ctrlHolder">
									<p class="errorFieldHide" id="country_err">Select a country</p>
									<label for="country" class="required">
										<em>*</em>
										国家
									</label>
									<select name="question[country]" id="country" class="required" tabindex="6">
										<option value="0">请选择国家</option>
										<option value="226">United States</option>
										<option value="1">Afghanistan</option>
										<option value="2">Albania</option>
										<option value="3">Algeria</option>
										<option value="4">American Samoa</option>
										<option value="5">Andorra</option>
										<option value="6">Angola</option>
										<option value="7">Anguilla</option>
										<option value="8">Antarctica</option>
										<option value="9">Antigua and Barbuda</option>
										<option value="245">Arctic</option>
										<option value="10">Argentina</option>
										<option value="11">Armenia</option>
										<option value="12">Aruba</option>
										<option value="13">Australia</option>
										<option value="14">Austria</option>
										<option value="15">Azerbaijan</option>
										<option value="16">Bahamas</option>
										<option value="17">Bahrain</option>
										<option value="18">Bangladesh</option>
										<option value="19">Barbados</option>
										<option value="20">Belarus</option>
										<option value="21">Belgium</option>
										<option value="22">Belize</option>
										<option value="23">Benin</option>
										<option value="24">Bermuda</option>
										<option value="25">Bhutan</option>
										<option value="26">Bolivia</option>
										<option value="27">Bosnia and Herzegovina</option>
										<option value="28">Botswana</option>
										<option value="29">Bouvet Island</option>
										<option value="30">Brazil</option>
										<option value="31">British Indian Ocean Territory</option>
										<option value="32">Brunei Darussalam</option>
										<option value="33">Bulgaria</option>
										<option value="34">Burkina Faso</option>
										<option value="35">Burundi</option>
										<option value="36">Cambodia</option>
										<option value="37">Cameroon</option>
										<option value="38">Canada</option>
										<option value="39">Cape Verde</option>
										<option value="40">Cayman Islands</option>
										<option value="41">Central African Republic</option>
										<option value="42">Chad</option>
										<option value="43">Chile</option>
										<option value="44" selected="selected">China</option>
										<option value="45">Christmas Island</option>
										<option value="46">Cocos (Keeling) Islands</option>
										<option value="47">Colombia</option>
										<option value="48">Comoros</option>
										<option value="49">Congo</option>
										<option value="50">Congo, the Democratic Republic of the</option>
										<option value="51">Cook Islands</option>
										<option value="52">Costa Rica</option>
										<option value="53">Cote D'Ivoire</option>
										<option value="54">Croatia</option>
										<option value="55">Cuba</option>
										<option value="56">Cyprus</option>
										<option value="57">Czech Republic</option>
										<option value="58">Denmark</option>
										<option value="59">Djibouti</option>
										<option value="60">Dominica</option>
										<option value="61">Dominican Republic</option>
										<option value="62">Ecuador &amp; Galápagos</option>
										<option value="63">Egypt</option>
										<option value="64">El Salvador</option>
										<option value="65">Equatorial Guinea</option>
										<option value="66">Eritrea</option>
										<option value="67">Estonia</option>
										<option value="68">Ethiopia</option>
										<option value="69">Falkland Islands (Malvinas)</option>
										<option value="70">Faroe Islands</option>
										<option value="71">Fiji</option>
										<option value="72">Finland</option>
										<option value="73">France</option>
										<option value="74">French Guiana</option>
										<option value="75">French Polynesia</option>
										<option value="76">French Southern Territories</option>
										<option value="77">Gabon</option>
										<option value="78">Gambia</option>
										<option value="79">Georgia</option>
										<option value="80">Germany</option>
										<option value="81">Ghana</option>
										<option value="82">Gibraltar</option>
										<option value="83">Greece</option>
										<option value="84">Greenland</option>
										<option value="85">Grenada</option>
										<option value="86">Guadeloupe</option>
										<option value="87">Guam</option>
										<option value="88">Guatemala</option>
										<option value="89">Guinea</option>
										<option value="90">Guinea-Bissau</option>
										<option value="91">Guyana</option>
										<option value="92">Haiti</option>
										<option value="93">Heard Island and McDonald Islands</option>
										<option value="94">Holy See (Vatican City State)</option>
										<option value="95">Honduras</option>
										<option value="96">Hong Kong</option>
										<option value="97">Hungary</option>
										<option value="98">Iceland</option>
										<option value="99">India</option>
										<option value="100">Indonesia</option>
										<option value="101">Iran</option>
										<option value="102">Iraq</option>
										<option value="103">Ireland</option>
										<option value="104">Israel</option>
										<option value="105">Italy</option>
										<option value="106">Jamaica</option>
										<option value="107">Japan</option>
										<option value="108">Jordan</option>
										<option value="109">Kazakhstan</option>
										<option value="110">Kenya</option>
										<option value="111">Kiribati</option>
										<option value="114">Kuwait</option>
										<option value="115">Kyrgyzstan</option>
										<option value="116">Laos</option>
										<option value="117">Latvia</option>
										<option value="118">Lebanon</option>
										<option value="119">Lesotho</option>
										<option value="120">Liberia</option>
										<option value="121">Libya</option>
										<option value="122">Liechtenstein</option>
										<option value="123">Lithuania</option>
										<option value="124">Luxembourg</option>
										<option value="125">Macau</option>
										<option value="126">Macedonia</option>
										<option value="127">Madagascar</option>
										<option value="128">Malawi</option>
										<option value="129">Malaysia</option>
										<option value="130">Maldives</option>
										<option value="131">Mali</option>
										<option value="132">Malta</option>
										<option value="133">Marshall Islands</option>
										<option value="134">Martinique</option>
										<option value="135">Mauritania</option>
										<option value="136">Mauritius</option>
										<option value="137">Mayotte</option>
										<option value="138">Mexico</option>
										<option value="139">Micronesia, Federated States of</option>
										<option value="140">Moldova</option>
										<option value="141">Monaco</option>
										<option value="142">Mongolia</option>
										<option value="143">Montserrat</option>
										<option value="144">Morocco</option>
										<option value="145">Mozambique</option>
										<option value="146">Myanmar (Burma)</option>
										<option value="147">Namibia</option>
										<option value="148">Nauru</option>
										<option value="149">Nepal</option>
										<option value="150">Netherlands</option>
										<option value="151">Netherlands Antilles</option>
										<option value="152">New Caledonia</option>
										<option value="153">New Zealand</option>
										<option value="154">Nicaragua</option>
										<option value="155">Niger</option>
										<option value="156">Nigeria</option>
										<option value="157">Niue</option>
										<option value="158">Norfolk Island</option>
										<option value="112">North Korea</option>
										<option value="159">Northern Mariana Islands</option>
										<option value="160">Norway</option>
										<option value="161">Oman</option>
										<option value="162">Pakistan</option>
										<option value="163">Palau</option>
										<option value="165">Panama</option>
										<option value="166">Papua New Guinea</option>
										<option value="167">Paraguay</option>
										<option value="168">Peru</option>
										<option value="169">Philippines</option>
										<option value="170">Pitcairn Islands</option>
										<option value="171">Poland</option>
										<option value="172">Portugal</option>
										<option value="174">Qatar</option>
										<option value="175">Reunion</option>
										<option value="176">Romania</option>
										<option value="177">Russia</option>
										<option value="178">Rwanda</option>
										<option value="179">Saint Helena</option>
										<option value="180">Saint Kitts and Nevis</option>
										<option value="181">Saint Lucia</option>
										<option value="182">Saint Pierre and Miquelon</option>
										<option value="183">Saint Vincent and the Grenadines</option>
										<option value="184">Samoa</option>
										<option value="185">San Marino</option>
										<option value="186">Sao Tome and Principe</option>
										<option value="187">Saudi Arabia</option>
										<option value="188">Senegal</option>
										<option value="190">Seychelles</option>
										<option value="191">Sierra Leone</option>
										<option value="192">Singapore</option>
										<option value="193">Slovakia</option>
										<option value="194">Slovenia</option>
										<option value="195">Solomon Islands</option>
										<option value="196">Somalia</option>
										<option value="197">South Africa</option>
										<option value="198">South Georgia and the South Sandwich Islands</option>
										<option value="113">South Korea</option>
										<option value="199">Spain</option>
										<option value="200">Sri Lanka</option>
										<option value="201">Sudan</option>
										<option value="202">Suriname</option>
										<option value="203">Svalbard and Jan Mayen</option>
										<option value="204">Swaziland</option>
										<option value="205">Sweden</option>
										<option value="206">Switzerland</option>
										<option value="207">Syria</option>
										<option value="208">Taiwan</option>
										<option value="209">Tajikistan</option>
										<option value="210">Tanzania</option>
										<option value="211">Thailand</option>
										<option value="213">Togo</option>
										<option value="214">Tokelau</option>
										<option value="215">Tonga</option>
										<option value="216">Trinidad and Tobago</option>
										<option value="217">Tunisia</option>
										<option value="218">Turkey</option>
										<option value="219">Turkmenistan</option>
										<option value="220">Turks and Caicos Islands</option>
										<option value="221">Tuvalu</option>
										<option value="222">Uganda</option>
										<option value="223">Ukraine</option>
										<option value="224">United Arab Emirates</option>
										<option value="225">United Kingdom</option>
										<option value="227">United States Minor Outlying Islands</option>
										<option value="228">Uruguay</option>
										<option value="229">Uzbekistan</option>
										<option value="230">Vanuatu</option>
										<option value="231">Venezuela</option>
										<option value="232">Vietnam</option>
										<option value="233">Virgin Islands, British</option>
										<option value="234">Virgin Islands, U.S.</option>
										<option value="235">Wallis and Futuna</option>
										<option value="236">Western Sahara</option>
										<option value="237">Yemen</option>
										<option value="238">Zambia</option>
										<option value="239">Zimbabwe</option>
									</select>
								</div>
								<div id="ctrlHolder_workphone" class="ctrlHolder">
									<p class="errorFieldHide" id="workphone_err"></p>
									<label for="workphone" class="">电话</label>
									<input name="question[phone]" id="workphone" value="" size="30" type="text" class="" tabindex="7">
								</div>
								
								<div id="ctrlHolder_question" class="ctrlHolder">
									<p class="errorFieldHide" id="question_err">Ask your question here:</p>
									<label for="question" class="required">
										<em>*</em>
										您的问题
									</label>
									<textarea name="question[question]" id="question" rows="7" cols="60" class="required textInput" tabindex="9"></textarea>
								</div>
								<input name="question[travel_id]" id="submitid" value="<%= @travel.id %>" type="hidden">         
								</fieldset>
							<div class="buttonHolder">
								<input type="submit" name="submit_btn" id="submit_btn" value="提交问题" class="uniFormButton" onclick="" tabindex="10"></div>
						</form>
					</div>
				</div>

				<div id="tab6" class="hide tab_item">
					<div style="width:80%">
						<% @travel.dianpins.each do |dianpin| %>
						<p>
							<%= dianpin.name %>
						</p>
						<p>
							<%= dianpin.cont %>
						</p>
						<p>
							<%= dianpin.created_at %>
						</p>
						<hr>
						<% end %>
						<form action="/dianpins" id="faq_form" method="post" name="faq_form" class="uniForm">
							<fieldset class="inlineLabels">
								<h3>你的点评</h3>
								<div id="ctrlHolder_workphone" class="ctrlHolder">
									<p class="errorFieldHide" id="workphone_err"></p>
									<label for="workphone" class="">您的名字</label>
									<input name="dianpin[name]" id="workphone" value="" size="30" type="text" class="" tabindex="7">          
								</div>
								<div id="ctrlHolder_workphone" class="ctrlHolder">
									<p class="errorFieldHide" id="workphone_err"></p>
									<label for="workphone" class="">旅游团代码</label>
									<input name="dianpin[travel_code]" id="workphone" value="" size="30" type="text" class="" tabindex="7">          
								</div>
								
								<div id="ctrlHolder_question" class="ctrlHolder">
									<p class="errorFieldHide" id="question_err">Ask your 点评 here:</p>
									<label for="dianpin" class="required">
										<em>*</em>
										点评
									</label>
									<textarea name="dianpin[cont]" id="dianpin" rows="7" cols="60" class="required textInput" tabindex="9"></textarea>
								</div>
								<input name="dianpin[travel_id]" id="submitid" value="<%= @travel.id %>" type="hidden">         
								</fieldset>
							<div class="buttonHolder">
								<input type="submit" name="submit_btn" id="submit_btn" value="提交点评" class="uniFormButton" onclick="" tabindex="10"></div>
						</form>
					</div>
				</div>				
				<!-- TRIP NAVIGATION BOTTOM -->
			</div>
		</div>


<% content_for :footer do %>
<%= javascript_include_tag "jquery.slides.min.js" %>
<script>
// refresh window active tabs on hash
var getTabActive=function(){
		$("#trip_navigation_top li").removeClass("current");
		$(".tab_item").addClass("hide");
		$('#trip_navigation_top a[href='+window.location.hash+']').parent().addClass("current");
		$(window.location.hash).removeClass("hide");
}
$("document").ready(function(){
	if(window.location.hash&&$(window.location.hash).length>0){
		getTabActive();
	}
})
$("#trip_navigation_top li a").live("click", function(){
	$("#trip_navigation_top li").removeClass("current");
	$(".tab_item").addClass("hide");
	$(this).parent().addClass("current");
	$($(this).attr("href")).removeClass("hide");
	return false;
})
// listen change of window.location.hash, then active
if (("onhashchange" in window) && !($.browser.msie)) {
		 window.onhashchange = function () {
			 if ($(window.location.hash).length>0) {
				getTabActive();
				return false;
			 };     
		 }
}
else {
	$(window).bind('hashchange', function() {
		if($(window.location.hash).length>1){
			getTabActive();
			return false;
		 }
	});
}

var getSeriesOverlay=function(a){
	$(".text_modal").show();
	$('<div id="popout_modal_mask"></div>').appendTo("body");
}
$(".text_modal .close").click(function(){
	$(".text_modal").hide();
	$('#popout_modal_mask').remove();
});
$("#popout_modal_mask").live("click",function(){
	$(".text_modal").hide();
	$(".popout_modal").hide();
	$('#largeMap').remove();
	$(this).remove();
})








$(function() {
	  var max_p=7;
      $('#destination_slides').slidesjs({
        width: 260,
        height: 228,
        navigation: {
          effect: "fade"
        },
        pagination: {
          effect: "fade"
        },
        effect: {
          fade: {
            speed: 800
          }
        },
        callback:{
          loaded: function(number) {
              $('p.slide_img_title').text($("#destination_slides img.slidesjs-slide").eq(number-1).attr("alt"));
              number>max_p? $('#destination_slides ul.slidesjs-pagination').animate({left: -(number-max_p)*25}): $('#destination_slides ul.slidesjs-pagination').animate({left: 0})
            },
          complete: function(number) {
              $('p.slide_img_title').text($("#destination_slides img.slidesjs-slide").eq(number-1).attr("alt"));
              number>max_p? $('#destination_slides ul.slidesjs-pagination').animate({left: -(number-max_p)*25}) : $('#destination_slides ul.slidesjs-pagination').animate({left: 0})
          }
        }
      });
	$('#destination_slides_modal').slidesjs({
		width: 514,
		height: 344,
		navigation: false,
		pagination: {
		effect: "fade"
		},
		effect: {
		fade: {
		  speed: 800
		}
		},
		callback:{
		  loaded: function(number) {
		        $('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
		        number>max_p? $('#popout_modal ul.slidesjs-pagination').animate({left: -(number-max_p)*25}): $('#popout_modal ul.slidesjs-pagination').animate({left: 0})
		      },
		  complete: function(number) {
		        $('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
		        number>max_p? $('#popout_modal ul.slidesjs-pagination').animate({left: -(number-max_p)*25}): $('#popout_modal ul.slidesjs-pagination').animate({left: 0})
		  }
		}
	});
});
var modal_slides_atn=function(){
  $("#popout_modal.alt").show();
  $('<div id="popout_modal_mask"></div>').appendTo("body");
}
var modal_close=function(){
  $("#popout_modal").hide();
  $("#popout_modal.alt").hide();
  $('#popout_modal_mask').remove();
}


var initslide=function(){
	$("#popout_modal").show().find('#destination_slides_modal').slidesjs({
		width: 514,
		height: 344,
		navigation: false,
		pagination: {
			effect: "fade"
		},
		effect: {
			fade: {
				speed: 800
			}
		},
		callback:{
			loaded: function(number) {
						$('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
					},
			complete: function(number) {
						$('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
			}
		}
	});
}
var modal_slides=function(a){
	if($('#popout_modal').size()>0){
		$('#popout_modal').remove();
	}
	var $popout_modal_html='<div id="popout_modal" class="popout_modal"><div class="close_modal" onclick="modal_close();">X</div><img src="/images/ajax-loader.gif" id="ajaxloader"></div><div id="popout_modal_mask"></div>';
	$('body').append($popout_modal_html);
	$('#popout_modal').show();
	$.ajax({
			url: '/welcome/get_gallery?id='+a,
			type: 'GET',
			data: {},
			success: function (data) {
				$('#ajaxloader').remove();
				$('#popout_modal').append(data);
			},
			error:function(){
				$('#ajaxloader').remove();
				$('<p>Someting goes wrong, please try again later.</p>').appendTo('#popout_modal');
			}
		}).done(initslide);
}
</script>
<% end %>
