<%= form_for([:admin, @banner], :html => {:class => "form-horizontal", :multipart => true}) do |f| %>

    <div class="control-group">
      <label class="control-label">name</label>

      <div class="controls">
        <input type="text" id="banner_name" name="banner[name]" value="<%= @banner.name %>" onblur="isShowDestination(this)"/>
      </div>
    </div>
    <div class="control-group" id="destination_id" style=" <% if @banner.name != '地区页' %> display: none; <% end %>">
      <label class="control-label">地区</label>

      <div class="controls">
        <%= f.select :destination_id, Destination.find(:all, :order => 'id').collect { |c| [c.name, c.id] }, {:include_blank => true} %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">图片所在位置(不要修改)</label>

      <div class="controls">
        <%= f.text_field :imgname %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">图片</label>

      <div class="controls">
        <img src="<%= @banner.cover.url %>" alt=""> <br>
        <%= f.file_field :cover %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">链接地址</label>

      <div class="controls">
        <%= f.text_field :link %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    function isShowDestination(ele) {
        if ($(ele).val() == '地区页') {
            $('#destination_id').show();
        } else {
            $('#destination_id').hide();
        }
    }
</script>