<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @customizebooking.number %>
</p>

<p>
  <b>Destination:</b>
  <%= @customizebooking.destination_id %>
</p>

<p>
  <b>City:</b>
  <%= @customizebooking.city_id %>
</p>

<p>
  <b>Hotel:</b>
  <%= @customizebooking.hotel_id %>
</p>

<p>
  <b>Days:</b>
  <%= @customizebooking.days %>
</p>


<%= link_to 'Edit', edit_customizebooking_path(@customizebooking) %> |
<%= link_to 'Back', customizebookings_path %>