    <ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <a href="/booking">Travels</a>
      </li>
      
    </ul>
    <div class="self_clear">
      <%= render :partial => "travels/travel_sidebar", :locals => { :travel => @travel } %>
      
      <div id="primary_content" class="align_edges">
        <iframe style="position:absolute; left:-9999px;" id="print-frame" src="/images/transparent.gif"></iframe>
        <!-- PRIMARY HEADING -->
        <h1><%= @travel.name %></h1>
        <h4 class="clear_margins icon luxury amp" style="padding-top:2px;">
          <%= @travel.interests.first.title %>
        </h4>
        <!-- LIVEPERSON -->
        <!-- LINK LIST -->
        <ul class="attribute_list">
          <li>
            <a class="icon download" href="<%= @travel.brochures.first.doc.url %>">Download Trip PDF</a>
          </li>
          <li>
            <a class="icon share" title="Send this Trip to a Friend" href="/travel/send_trip_to_friend.cfm?tid=5628" onclick="window.open('/travel/send_trip_to_friend.cfm?tid=5628', 'myWindow', 'toolbar=no, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=600, height=550'); return false" target="_blank">Send this Trip to a Friend</a>
          </li>
          <li>
            <a rel="nofollow" class="icon print" title="Print This Trip" href="/print/dsp_trip.cfm?tid=5628" onclick="window.open('/print/dsp_trip.cfm?tid=5628', 'myWindow', 'toolbar=yes, directories=no, location=no, status=yes, menubar=no, resizable=yes, scrollbars=yes, width=1060, height=800'); return false" target="_blank">Print This Trip</a>
          </li>
        </ul>
        <!-- TRIP NAVIGATION -->
        <div id="trip_navigation_top" class="self_clear padding_6_tabs">
          <ul>
            <li>
              <a href="#tab1" title="Overview">Overview</a>
            </li>
            <li>
              <a href="#tab2" title="Itinerary">Itinerary</a>
            </li>
            <li class="current">
              <a href="#tab3" title="Dates &amp; Prices">Dates &amp; Prices</a>
            </li>
            <li>
              <a href="#tab4" title="Extensions">Extensions</a>
            </li>
            <li>
              <a href="#tab5" title="Ask a Question">Ask a Question</a>
            </li>
          </ul>
        </div>
        <!-- TRIP OVERVIEW -->
        <div id="tab1" class="hide tab_item">
          <h2>Overview</h2>
          <div class="trip_overview">
            <div class="self_clear">
              <div id="mini_map">
                <img style="left:146px; top:44px;" title="India" alt="India" src="/images/small_map_marker.gif" width="9" height="9"></div>
              <img src="<%= @travel.cover.url %>" alt="<%= @travel.name %>" title="View <%= @travel.name %>" width="125" height="125">
              <ul class="align_edges line_rule clear_margins">
                <li>
                  <span>
                    <a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay('54')" title="<%= @travel.interests.first.title %>"><%= @travel.interests.first.title %></a>
                  </span>
                  Series:
                </li>
                <li>
                  <span>$<%= @travel.priced_from %></span>
                  Priced From:
                </li>
                <li>
                  <span><%= @travel.days_count %></span>
                  Days:
                </li>
                <li>
                  <span><%= @travel.departures %></span>
                  Departures:
                </li>
                <li>
                  <span><%= @travel.max_group_size %></span>
                  Max Group Size:
                </li>
              </ul>
            </div>
          </div>
          <p>
            <%= @travel.overview_desc %>
          </p>
          <!-- & MOMENTS -->
          <h2>A&amp;K Advantages</h2>
          <ul class="clear_list_indent">
            <li>
              Throughout the journey, stay in actual former palaces, including iconic royal residences, such as the Taj Lake Palace in Udaipur and grand Rambagh Palace in Jaipur
            </li>
            <li>
              Experience India by water in three destinations - from Mumbai Harbour to Elephanta Island, Udaipur's serene Lake Pichola and along the holy Ganges River
            </li>
            <li>
              Explore the countryside of Jaipur during an elephant ride conducted by an expert <em>mahout</em>
              (trainer)
            </li>
            <li>
              Stay two nights in Panna National Park, home to leopards, sloth bears, wolves and the mysterious Bengal tiger
            </li>
            <li>
              Explore some of the world's most impressive UNESCO World Heritage Sites: The Taj Mahal, Khajuraho, Fatehpur Sikri, Agra Fort and the temples of Elephanta Island
            </li>
          </ul>
          <div class="text_modal">
            <a class="close"></a>
            <div class="overlay-details">
              <div class="overlay-padding">
                <h3 class="clear_margins"><%= @travel.interests.first.title %></h3>
                <p style="margin-bottom: 0px;"><%= @travel.interests.first.cont %></p>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2" class="hide tab_item">
          <div class="take-private self_clear">
            <span class="hl4 float_left">Take This Journey Private</span>
            <p>
              This itinerary is available as an
              <a href="/travel/?fuseaction=dsp_itinerary&amp;tid=5669">independent journey</a>
              led by local guides.
            </p>
          </div>
          <h2>Itinerary</h2>
          <img class="float_right" src="/images/India-map.jpg">
          <dl class="itinerary">
            <% @travel.itineraries.each do |itinerary| %>
            <dt><%= itinerary.name %></dt>
            <dd>
              <p>
                <%= itinerary.desc %>
              </p>
              <em><a class="icon camera_white" href="javascript:void(0);" onclick="modal_slides(this)"><%= itinerary.hotel.name %></a></em> 
              &nbsp;&nbsp;|&nbsp;&nbsp;
              <em>Meals: B D</em>
              <!-- popout modals  -->
              <div id="popout_modal" class='popout_modal'>
                <div class="close_modal" onclick="modal_close();">X</div>
                <strong class="title">Africa</strong>
                <div id="destination_slides_modal">
                    <img src="/uploads/photo/pic/6/a07125dcd95c9c77d4f786efb00a4137.jpg" alt="hasjklasd pic" >
                    <img src="/uploads/photo/pic/7/45275e37f31a3bfbe05ce7f8ec5d3fe2.jpg" alt="adsadsad " >
                    <img src="/uploads/photo/pic/8/35a0dc5c3a42cad0dfe15b9a4b2a9f83.jpg" alt="asdsd" >
                </div>
                <p class="slide_img_title"></p>
              </div>




            </dd>
            <% end %>
          </dl>
        </div>
        <div id="tab3" class="tab_item">


          <h2>Request Booking</h2>
          <p>
            If you have an account,
            <a href="login.cfm">login here</a>
            .
          </p>
          <p>To request booking, submit the guest form below.</p>
          <table class="format_table">
            <thead>
              <tr>
                <th>
                  Availability:
                  Available
                </th>
                <th>Unit Price</th>
                <th>Guests</th>
                <th>Sub-Totals</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <strong>Dates:</strong>
                  <%= @datesprice.start_date.strftime("%d %b %Y") %> to <%= @datesprice.end_date.strftime("%d %b %Y") %>
                </td>
                <td>$<%= @datesprice.prices %></td>
                <td><%= @people_count %></td>
                <td align="right">$<%= @datesprice.prices*@people_count %></td>
              </tr>
              <!-- IS INTERNAL AIRFARE INCLUDED IN THIS TRIP -->
              <tr>
                <td> <strong>Internal&nbsp;Airfare:</strong>
                </td>
                <td>$<%= @datesprice.internal_airfare %></td>
                <td><%= @people_count %></td>
                <td align="right">$<%= @datesprice.internal_airfare*@people_count %></td>
              </tr>
              <!-- IS A SUPPLEMENT INCLUDED IN THIS TRIP -->
              <!-- ADD PRICE -->
              <tr>
                <td>
                  <strong>Priced From (USD):</strong>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td align="right">
                  <strong>$<%= (@datesprice.prices+@datesprice.internal_airfare)*@people_count %></strong>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="clear_list_style"></ul>
          <p>
            Availability shown does not reflect real time status and is subject to change. In the case of Sold Out availability, A&amp;K recommends requesting a booking and adding your name to our waitlist. We will contact you if the departure becomes available.
            Sub-Totals do not include international airfare, upgrades, taxes, seasonal surcharges and optional services not specified in the Inclusions section of the program description or Terms and Conditions.
          </p>
          <div style="width:80%">
            <div class="self-clear">
              <p id="requiredText">
                Required <em>*</em>
              </p>
            </div>
            <form action="https://www.abercrombiekent.com/travel/index.cfm?fuseaction=act_request_booking&amp;tid=5584" id="booking_request" method="post" name="booking_request" class="uniForm">
              <fieldset class="inlineLabels">
                <h3>Traveller Information</h3>
                <input name="startDate" id="startDate" value="2013-07-16 00:00:00.0" type="hidden">
                <input name="ordertotal" id="ordertotal" value="21210" type="hidden">
                <input name="packagedateid" id="packagedateid" value="393841" type="hidden">
                <input name="orderqty" id="orderqty" value="2" type="hidden">
                <input name="noOfCompanions" id="noOfCompanions" value="2" type="hidden">
                <input name="PackageSubType" id="PackageSubType" value="" type="hidden">
                <input name="GeoEmail" id="GeoEmail" value="WebSGJ@abercrombiekent.com" type="hidden">
                <input name="PackageID" id="PackageID" value="5584" type="hidden">
                <input name="tpcpackage" id="tpcpackage" value="Kenya &amp; Tanzania Wildlife Safari" type="hidden">
                <div id="ctrlHolder_title" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="title_err">Select your title</p>
                  <label for="title" class="required"> <em>*</em>
                    Title
                  </label>
                  <select name="title" id="title" class="required" tabindex="1" style="">
                    <option value="0">Select a Title</option>
                    <option value="153">Mr.</option>
                    <option value="154">Mrs.</option>
                    <option value="155">Ms.</option>
                    <option value="157">Dr.</option>
                  </select>
                </div>
                <div id="ctrlHolder_firstName" class="ctrlHolder">
                  <p class="errorFieldHide" id="firstName_err">Enter your first name</p>
                  <label for="firstName" class="required">
                    <em>*</em>
                    First Name
                  </label>
                  <input name="firstName" id="firstName" value="" size="30" type="text" class="required" tabindex="2"></div>
                <div id="ctrlHolder_middleInitial" class="ctrlHolder">
                  <p class="errorFieldHide" id="middleInitial_err"></p>
                  <label for="middleInitial" class="">Middle Initial</label>
                  <input name="middleInitial" id="middleInitial" value="" size="30" type="text" class="" tabindex="3"></div>
                <div id="ctrlHolder_lastName" class="ctrlHolder">
                  <p class="errorFieldHide" id="lastName_err">Enter your last name</p>
                  <label for="lastName" class="required">
                    <em>*</em>
                    Last Name
                  </label>
                  <input name="lastName" id="lastName" value="" size="30" type="text" class="required" tabindex="4"></div>
              </fieldset>
              <fieldset class="inlineLabels">
                <h3>Contact Information</h3>
                <div id="ctrlHolder_contact_preference" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="contact_preference_err"></p>
                  <p class="label ">Preferred method of contact</p>
                  <label for="contact_preference-1" class="inlineLabel">
                    <input name="contact_preference" id="contact_preference-1" type="radio" value="Email" checked="checked" class="" tabindex="5">Email</label>
                  <label for="contact_preference-2" class="inlineLabel">
                    <input name="contact_preference" id="contact_preference-2" type="radio" value="Daytime Phone" class="" tabindex="5">Daytime Phone</label>
                </div>
                <div id="ctrlHolder_email" class="ctrlHolder">
                  <p class="errorFieldHide" id="email_err">Enter a valid email address</p>
                  <label for="email" class="required">
                    <em>*</em>
                    Email Address
                  </label>
                  <input name="email" id="email" value="" size="30" type="text" class="required email" tabindex="6"></div>
                <input type="hidden" name="AJAXURL" id="AJAXURL" value="/qas/prowebproxy.aspx">
                <input type="hidden" name="ADDRESSLAYOUT" id="ADDRESSLAYOUT" value="Database layout">
                <input type="hidden" name="RUN_AS_POPUP" id="RUN_AS_POPUP" value="true">
                <input type="hidden" name="IGNORE_UNMATCHED_ADDRESSES" id="IGNORE_UNMATCHED_ADDRESSES" value="false">
                <input type="hidden" name="IGNORE_CONNECTION_ERROR" id="IGNORE_CONNECTION_ERROR" value="true">
                <input type="hidden" name="BYPASS_QAS_VERIFICATION" id="BYPASS_QAS_VERIFICATION" value="false">
                <input type="hidden" name="QASMatched" id="QASMatched" label="" value="false">
                <input type="hidden" name="LINEONECTL" id="LINEONECTL" value="address1">
                <input type="hidden" name="LINETWOCTL" id="LINETWOCTL" value="address2">
                <input type="hidden" name="LINETHREECTL" id="LINETHREECTL" value="address3">
                <input type="hidden" name="CITYCTL" id="CITYCTL" value="city">
                <input type="hidden" name="STATECTL" id="STATECTL" value="state">
                <input type="hidden" name="ZIPCTL" id="ZIPCTL" value="postal_code">
                <input type="hidden" name="COUNTRYCTL" id="COUNTRYCTL" value="country">
                <input name="FORM_BUTTON_ID" id="FORM_BUTTON_ID" value="submit_btn" type="hidden">
                <input name="address3" id="address3" value="" type="hidden">
                <div id="ctrlHolder_address1" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="address1_err">Enter your street address</p>
                  <label for="address1" class="required">
                    <em>*</em>
                    Address 1
                  </label>
                  <input name="address1" id="address1" value="" size="30" type="text" class="noemail required" tabindex="7"></div>
                <div id="ctrlHolder_address2" class="ctrlHolder">
                  <p class="errorFieldHide" id="address2_err"></p>
                  <label for="address2">Address 2</label>
                  <input name="address2" id="address2" value="" size="30" type="text" tabindex="8"></div>
                <div id="ctrlHolder_city" class="ctrlHolder">
                  <p class="errorFieldHide" id="city_err">Enter your city</p>
                  <label for="city" class="required">
                    <em>*</em>
                    City
                  </label>
                  <input name="city" id="city" value="" size="30" type="text" class="required" tabindex="9"></div>
                <div id="ctrlHolder_state" class="ctrlHolder">
                  <p class="errorFieldHide" id="state_err">Enter your state or region</p>
                  <label for="state" class="required">
                    <em>*</em>
                    State/Region
                  </label>
                  <input name="state" id="state" value="" size="30" type="text" class="required" tabindex="10"></div>
                <div id="ctrlHolder_postal_code" class="ctrlHolder">
                  <p class="errorFieldHide" id="postal_code_err">Enter your postal code</p>
                  <label for="postal_code" class="required">
                    <em>*</em>
                    Postal Code
                  </label>
                  <input name="postal_code" id="postal_code" value="" size="30" type="text" class="required" tabindex="11"></div>
                <div id="ctrlHolder_country" class="ctrlHolder">
                  <p class="errorFieldHide" id="country_err"></p>
                  <label for="country">Country</label>
                  <select name="country" id="country" tabindex="12" style="">
                    <option value="USA" selected="selected">United States</option>
                    <option value="AFG">Afghanistan</option>
                    <option value="ALB">Albania</option>
                    <option value="DZA">Algeria</option>
                    <option value="ASM">American Samoa</option>
                    <option value="AND">Andorra</option>
                    <option value="AGO">Angola</option>
                    <option value="AIA">Anguilla</option>
                    <option value="ATA">Antarctica</option>
                    <option value="ATG">Antigua and Barbuda</option>
                    <option value="AAA">Arctic</option>
                    <option value="ARG">Argentina</option>
                    <option value="ARM">Armenia</option>
                    <option value="ABW">Aruba</option>
                    <option value="AUS">Australia</option>
                    <option value="AUT">Austria</option>
                    <option value="AZE">Azerbaijan</option>
                    <option value="BHS">Bahamas</option>
                    <option value="BHR">Bahrain</option>
                    <option value="BGD">Bangladesh</option>
                    <option value="BRB">Barbados</option>
                    <option value="BLR">Belarus</option>
                    <option value="BEL">Belgium</option>
                    <option value="BLZ">Belize</option>
                    <option value="BEN">Benin</option>
                    <option value="BMU">Bermuda</option>
                    <option value="BTN">Bhutan</option>
                    <option value="BOL">Bolivia</option>
                    <option value="BIH">Bosnia and Herzegovina</option>
                    <option value="BWA">Botswana</option>
                    <option value="BVT">Bouvet Island</option>
                    <option value="BRA">Brazil</option>
                    <option value="IOT">British Indian Ocean Territory</option>
                    <option value="BRN">Brunei Darussalam</option>
                    <option value="BGR">Bulgaria</option>
                    <option value="BFA">Burkina Faso</option>
                    <option value="BDI">Burundi</option>
                    <option value="KHM">Cambodia</option>
                    <option value="CMR">Cameroon</option>
                    <option value="CAN">Canada</option>
                    <option value="CPV">Cape Verde</option>
                    <option value="CYM">Cayman Islands</option>
                    <option value="CAF">Central African Republic</option>
                    <option value="TCD">Chad</option>
                    <option value="CHL">Chile</option>
                    <option value="CHN">China</option>
                    <option value="CXR">Christmas Island</option>
                    <option value="CCK">Cocos (Keeling) Islands</option>
                    <option value="COL">Colombia</option>
                    <option value="COM">Comoros</option>
                    <option value="COG">Congo</option>
                    <option value="COD">Congo, the Democratic Republic of the</option>
                    <option value="COK">Cook Islands</option>
                    <option value="CRI">Costa Rica</option>
                    <option value="CIV">Cote D'Ivoire</option>
                    <option value="HRV">Croatia</option>
                    <option value="CUB">Cuba</option>
                    <option value="CYP">Cyprus</option>
                    <option value="CZE">Czech Republic</option>
                    <option value="DNK">Denmark</option>
                    <option value="DJI">Djibouti</option>
                    <option value="DMA">Dominica</option>
                    <option value="DOM">Dominican Republic</option>
                    <option value="ECU">Ecuador &amp; Galápagos</option>
                    <option value="EGY">Egypt</option>
                    <option value="SLV">El Salvador</option>
                    <option value="GNQ">Equatorial Guinea</option>
                    <option value="ERI">Eritrea</option>
                    <option value="EST">Estonia</option>
                    <option value="ETH">Ethiopia</option>
                    <option value="FLK">Falkland Islands (Malvinas)</option>
                    <option value="FRO">Faroe Islands</option>
                    <option value="FJI">Fiji</option>
                    <option value="FIN">Finland</option>
                    <option value="FRA">France</option>
                    <option value="GUF">French Guiana</option>
                    <option value="PYF">French Polynesia</option>
                    <option value="ATF">French Southern Territories</option>
                    <option value="GAB">Gabon</option>
                    <option value="GMB">Gambia</option>
                    <option value="GEO">Georgia</option>
                    <option value="DEU">Germany</option>
                    <option value="GHA">Ghana</option>
                    <option value="GIB">Gibraltar</option>
                    <option value="GRC">Greece</option>
                    <option value="GRL">Greenland</option>
                    <option value="GRD">Grenada</option>
                    <option value="GLP">Guadeloupe</option>
                    <option value="GUM">Guam</option>
                    <option value="GTM">Guatemala</option>
                    <option value="GIN">Guinea</option>
                    <option value="GNB">Guinea-Bissau</option>
                    <option value="GUY">Guyana</option>
                    <option value="HTI">Haiti</option>
                    <option value="HMD">Heard Island and McDonald Islands</option>
                    <option value="VAT">Holy See (Vatican City State)</option>
                    <option value="HND">Honduras</option>
                    <option value="HKG">Hong Kong</option>
                    <option value="HUN">Hungary</option>
                    <option value="ISL">Iceland</option>
                    <option value="IND">India</option>
                    <option value="IDN">Indonesia</option>
                    <option value="IRN">Iran</option>
                    <option value="IRQ">Iraq</option>
                    <option value="IRL">Ireland</option>
                    <option value="ISR">Israel</option>
                    <option value="ITA">Italy</option>
                    <option value="JAM">Jamaica</option>
                    <option value="JPN">Japan</option>
                    <option value="JOR">Jordan</option>
                    <option value="KAZ">Kazakhstan</option>
                    <option value="KEN">Kenya</option>
                    <option value="KIR">Kiribati</option>
                    <option value="KWT">Kuwait</option>
                    <option value="KGZ">Kyrgyzstan</option>
                    <option value="LAO">Laos</option>
                    <option value="LVA">Latvia</option>
                    <option value="LBN">Lebanon</option>
                    <option value="LSO">Lesotho</option>
                    <option value="LBR">Liberia</option>
                    <option value="LBY">Libya</option>
                    <option value="LIE">Liechtenstein</option>
                    <option value="LTU">Lithuania</option>
                    <option value="LUX">Luxembourg</option>
                    <option value="MAC">Macau</option>
                    <option value="MKD">Macedonia</option>
                    <option value="MDG">Madagascar</option>
                    <option value="MWI">Malawi</option>
                    <option value="MYS">Malaysia</option>
                    <option value="MDV">Maldives</option>
                    <option value="MLI">Mali</option>
                    <option value="MLT">Malta</option>
                    <option value="MHL">Marshall Islands</option>
                    <option value="MTQ">Martinique</option>
                    <option value="MRT">Mauritania</option>
                    <option value="MUS">Mauritius</option>
                    <option value="MYT">Mayotte</option>
                    <option value="MEX">Mexico</option>
                    <option value="FSM">Micronesia, Federated States of</option>
                    <option value="MDA">Moldova</option>
                    <option value="MCO">Monaco</option>
                    <option value="MNG">Mongolia</option>
                    <option value="MSR">Montserrat</option>
                    <option value="MAR">Morocco</option>
                    <option value="MOZ">Mozambique</option>
                    <option value="MMR">Myanmar (Burma)</option>
                    <option value="NAM">Namibia</option>
                    <option value="NRU">Nauru</option>
                    <option value="NPL">Nepal</option>
                    <option value="NLD">Netherlands</option>
                    <option value="ANT">Netherlands Antilles</option>
                    <option value="NCL">New Caledonia</option>
                    <option value="NZL">New Zealand</option>
                    <option value="NIC">Nicaragua</option>
                    <option value="NER">Niger</option>
                    <option value="NGA">Nigeria</option>
                    <option value="NIU">Niue</option>
                    <option value="NFK">Norfolk Island</option>
                    <option value="PRK">North Korea</option>
                    <option value="MNP">Northern Mariana Islands</option>
                    <option value="NOR">Norway</option>
                    <option value="OMN">Oman</option>
                    <option value="PAK">Pakistan</option>
                    <option value="PLW">Palau</option>
                    <option value="PAN">Panama</option>
                    <option value="PNG">Papua New Guinea</option>
                    <option value="PRY">Paraguay</option>
                    <option value="PER">Peru</option>
                    <option value="PHL">Philippines</option>
                    <option value="PCN">Pitcairn Islands</option>
                    <option value="POL">Poland</option>
                    <option value="PRT">Portugal</option>
                    <option value="QAT">Qatar</option>
                    <option value="REU">Reunion</option>
                    <option value="ROM">Romania</option>
                    <option value="RUS">Russia</option>
                    <option value="RWA">Rwanda</option>
                    <option value="SHN">Saint Helena</option>
                    <option value="KNA">Saint Kitts and Nevis</option>
                    <option value="LCA">Saint Lucia</option>
                    <option value="SPM">Saint Pierre and Miquelon</option>
                    <option value="VCT">Saint Vincent and the Grenadines</option>
                    <option value="WSM">Samoa</option>
                    <option value="SMR">San Marino</option>
                    <option value="STP">Sao Tome and Principe</option>
                    <option value="SAU">Saudi Arabia</option>
                    <option value="SEN">Senegal</option>
                    <option value="SYC">Seychelles</option>
                    <option value="SLE">Sierra Leone</option>
                    <option value="SGP">Singapore</option>
                    <option value="SVK">Slovakia</option>
                    <option value="SVN">Slovenia</option>
                    <option value="SLB">Solomon Islands</option>
                    <option value="SOM">Somalia</option>
                    <option value="ZAF">South Africa</option>
                    <option value="SGS">South Georgia and the South Sandwich Islands</option>
                    <option value="KOR">South Korea</option>
                    <option value="ESP">Spain</option>
                    <option value="LKA">Sri Lanka</option>
                    <option value="SDN">Sudan</option>
                    <option value="SUR">Suriname</option>
                    <option value="SJM">Svalbard and Jan Mayen</option>
                    <option value="SWZ">Swaziland</option>
                    <option value="SWE">Sweden</option>
                    <option value="CHE">Switzerland</option>
                    <option value="SYR">Syria</option>
                    <option value="TWN">Taiwan</option>
                    <option value="TJK">Tajikistan</option>
                    <option value="TZA">Tanzania</option>
                    <option value="THA">Thailand</option>
                    <option value="TGO">Togo</option>
                    <option value="TKL">Tokelau</option>
                    <option value="TON">Tonga</option>
                    <option value="TTO">Trinidad and Tobago</option>
                    <option value="TUN">Tunisia</option>
                    <option value="TUR">Turkey</option>
                    <option value="TKM">Turkmenistan</option>
                    <option value="TCA">Turks and Caicos Islands</option>
                    <option value="TUV">Tuvalu</option>
                    <option value="UGA">Uganda</option>
                    <option value="UKR">Ukraine</option>
                    <option value="ARE">United Arab Emirates</option>
                    <option value="GBR">United Kingdom</option>
                    <option value="UMI">United States Minor Outlying Islands</option>
                    <option value="URY">Uruguay</option>
                    <option value="UZB">Uzbekistan</option>
                    <option value="VUT">Vanuatu</option>
                    <option value="VEN">Venezuela</option>
                    <option value="VNM">Vietnam</option>
                    <option value="VGB">Virgin Islands, British</option>
                    <option value="VIR">Virgin Islands, U.S.</option>
                    <option value="WLF">Wallis and Futuna</option>
                    <option value="ESH">Western Sahara</option>
                    <option value="YEM">Yemen</option>
                    <option value="ZMB">Zambia</option>
                    <option value="ZWE">Zimbabwe</option>
                  </select>
                </div>
                <link rel="stylesheet" href="/assets_global/css/qas/proweb.css">
                <div id="ctrlHolder_workphone" class="ctrlHolder">
                  <p class="errorFieldHide" id="workphone_err"></p>
                  <label for="workphone" class="">Daytime Phone</label>
                  <input name="workphone" id="workphone" value="" size="30" type="text" class="" tabindex="13"></div>
              </fieldset>
              <fieldset class="inlineLabels">
                <h3>Travel Agent Information</h3>
                <div id="ctrlHolder_agentName" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="agentName_err"></p>
                  <label for="agentName" class="">Agent Name</label>
                  <input name="agentName" id="agentName" value="" size="30" type="text" class="" tabindex="14"></div>
                <div id="ctrlHolder_agentEmail" class="ctrlHolder">
                  <p class="errorFieldHide" id="agentEmail_err"></p>
                  <label for="agentEmail" class="">Agent Email</label>
                  <input name="agentEmail" id="agentEmail" value="" size="30" type="text" class="" tabindex="15"></div>
                <div id="ctrlHolder_agencyName" class="ctrlHolder">
                  <p class="errorFieldHide" id="agencyName_err"></p>
                  <label for="agencyName" class="">Agency Name</label>
                  <input name="agencyName" id="agencyName" value="" size="30" type="text" class="" tabindex="16"></div>
                <div id="ctrlHolder_iata" class="ctrlHolder">
                  <p class="errorFieldHide" id="iata_err"></p>
                  <label for="iata" class="">IATA Number</label>
                  <input name="iata" id="iata" value="" size="30" type="text" class="" tabindex="17"></div>
              </fieldset>
              <fieldset class="inlineLabels">
                <h3>Extras &amp; Comments</h3>
                <div id="ctrlHolder_prepost" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="prepost_err"></p>
                  <p class="label ">I would like A&amp;K to arrange a pre or post-tour package</p>
                  <label for="prepost-1" class="inlineLabel">
                    <input name="prepost" id="prepost-1" type="radio" value="1" checked="checked" class="" tabindex="18">Yes</label>
                  <label for="prepost-2" class="inlineLabel">
                    <input name="prepost" id="prepost-2" type="radio" value="0" class="" tabindex="18">No</label>
                </div>
                <div id="ctrlHolder_insurance" class="ctrlHolder">
                  <p class="errorFieldHide" id="insurance_err"></p>
                  <p class="label ">
                    I would like to discuss the purchase of
                    <a href="/travel_store/travel_insurance/index.cfm" target="_blank">Travel Insurance</a>
                  </p>
                  <label for="insurance-1" class="inlineLabel">
                    <input name="insurance" id="insurance-1" type="radio" value="1" checked="checked" class="" tabindex="19">Yes</label>
                  <label for="insurance-2" class="inlineLabel">
                    <input name="insurance" id="insurance-2" type="radio" value="0" class="" tabindex="19">No</label>
                </div>
                <div id="ctrlHolder_comments" class="ctrlHolder">
                  <p class="errorFieldHide" id="comments_err"></p>
                  <label for="comments" class="">Comments</label>
                  <textarea name="comments" id="comments" rows="10" cols="60" class="textInput" tabindex="20"></textarea>
                </div>
              </fieldset>
              <fieldset class="inlineLabels">
                <h3>Subscription Information</h3>
                <div id="ctrlHolder_enews" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="enews_err"></p>
                  <p class="label ">Abercrombie &amp; Kent Newsletter</p>
                  <label for="enews-1" class="inlineLabel">
                    <input name="enews" id="enews-1" value="1" checked="checked" type="checkbox" class="" tabindex="21">Subscribe</label>
                  <p class="formHint">
                    Includes special offers, promotions, new tours and exciting destinations weekly.
                  </p>
                </div>
                <div id="ctrlHolder_e_villas" class="ctrlHolder">
                  <p class="errorFieldHide" id="e_villas_err"></p>
                  <p class="label ">A&amp;K Villas Newsletter</p>
                  <label for="e_villas-1" class="inlineLabel">
                    <input name="e_villas" id="e_villas-1" value="1" checked="checked" type="checkbox" class="" tabindex="22">Subscribe</label>
                  <p class="formHint">Includes special offers and announcements monthly.</p>
                </div>
              </fieldset>
              <div class="buttonHolder">
                <input type="submit" name="submit_btn" id="submit_btn" value="Request Booking - Finish" class="uniFormButton" onclick="" tabindex="23"></div>
            </form>
          </div>



        </div>
        <div id="tab4" class="hide tab_item">
          <h2>A&amp;K Recommends</h2>
          <p>
            Extend your experience with these add-on itineraries. All extensions are priced and ready to book.
          </p>
          <dl id="search_results" class="self_clear line_rule cap_ends">
            <dt>
              <a href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">Aurangabad Extension</a>
            </dt>
            <dd>
              <div class="trip_overview">
                <div class="self_clear">
                  <a href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">
                    <img src="/images/aurangabad_extension.jpg" alt="View details for Aurangabad Extension" title="View details for Aurangabad Extension" width="125" height="125"></a>
                  <ul class="link_list self_clear clear_list_style">
                    <li>
                      <a class="icon swirl_arrow" href="/travel/?tid=5759" title="View the overview for Aurangabad Extension">Overview</a>
                    </li>
                    <li>
                      <a class="icon notebook" href="/travel/?tid=5759&amp;fuseaction=dsp_itinerary" title="View the itinerary for Aurangabad Extension">Itinerary</a>
                    </li>
                    <li>
                      <a class="icon dates" href="/travel/?tid=5759&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Aurangabad Extension">Dates &amp; Prices</a>
                    </li>
                    <li style="margin-top:2px;">
                      <input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5759">
                      <p class="clear_margins float_left  compare_link">Compare</p>
                    </li>
                  </ul>
                  <ul class="align_edges line_rule clear_margins">
                    <li>
                      <span>
                        <a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
                      </span>
                      Series:
                    </li>
                    <li>
                      <span>$1,295</span>
                      Priced From:
                    </li>
                    <li>
                      <span>4</span>
                      Days:
                    </li>
                    <li>
                      <span>On Request</span>
                      Departures:
                    </li>
                    <li>
                      <span>N/A</span>
                      Max Group Size:
                    </li>
                  </ul>
                </div>
              </div>
            </dd>
            <dt>
              <a href="/travel/?tid=5659" title="View the overview for Bhutan Extension">Bhutan Extension</a>
            </dt>
            <dd>
              <div class="trip_overview">
                <div class="self_clear">
                  <a href="/travel/?tid=5659" title="View the overview for Bhutan Extension">
                    <img src="/images/bhutan_extension.jpg" alt="View details for Bhutan Extension" title="View details for Bhutan Extension" width="125" height="125"></a>
                  <ul class="link_list self_clear clear_list_style">
                    <li>
                      <a class="icon swirl_arrow" href="/travel/?tid=5659" title="View the overview for Bhutan Extension">Overview</a>
                    </li>
                    <li>
                      <a class="icon notebook" href="/travel/?tid=5659&amp;fuseaction=dsp_itinerary" title="View the itinerary for Bhutan Extension">Itinerary</a>
                    </li>
                    <li>
                      <a class="icon dates" href="/travel/?tid=5659&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Bhutan Extension">Dates &amp; Prices</a>
                    </li>
                    <li style="margin-top:2px;">
                      <input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5659">
                      <p class="clear_margins float_left  compare_link">Compare</p>
                    </li>
                  </ul>
                  <ul class="align_edges line_rule clear_margins">
                    <li>
                      <span>
                        <a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
                      </span>
                      Series:
                    </li>
                    <li>
                      <span>$4,295</span>
                      Priced From:
                    </li>
                    <li>
                      <span>4</span>
                      Days:
                    </li>
                    <li>
                      <span>On Request</span>
                      Departures:
                    </li>
                    <li>
                      <span>N/A</span>
                      Max Group Size:
                    </li>
                  </ul>
                </div>
              </div>
            </dd>
            <dt>
              <a href="/travel/?tid=5662" title="View the overview for Kerala Extension">Kerala Extension</a>
            </dt>
            <dd>
              <div class="trip_overview">
                <div class="self_clear">
                  <a href="/travel/?tid=5662" title="View the overview for Kerala Extension">
                    <img src="/images/kerala-extension-1.jpg" alt="View details for Kerala Extension" title="View details for Kerala Extension" width="125" height="125"></a>
                  <ul class="link_list self_clear clear_list_style">
                    <li>
                      <a class="icon swirl_arrow" href="/travel/?tid=5662" title="View the overview for Kerala Extension">Overview</a>
                    </li>
                    <li>
                      <a class="icon notebook" href="/travel/?tid=5662&amp;fuseaction=dsp_itinerary" title="View the itinerary for Kerala Extension">Itinerary</a>
                    </li>
                    <li>
                      <a class="icon dates" href="/travel/?tid=5662&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Kerala Extension">Dates &amp; Prices</a>
                    </li>
                    <li style="margin-top:2px;">
                      <input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5662">
                      <p class="clear_margins float_left  compare_link">Compare</p>
                    </li>
                  </ul>
                  <ul class="align_edges line_rule clear_margins">
                    <li>
                      <span>
                        <a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
                      </span>
                      Series:
                    </li>
                    <li>
                      <span>$1,595</span>
                      Priced From:
                    </li>
                    <li>
                      <span>5</span>
                      Days:
                    </li>
                    <li>
                      <span>On Request</span>
                      Departures:
                    </li>
                    <li>
                      <span>N/A</span>
                      Max Group Size:
                    </li>
                  </ul>
                </div>
              </div>
            </dd>
            <dt>
              <a href="/travel/?tid=5658" title="View the overview for Nepal Extension">Nepal Extension</a>
            </dt>
            <dd>
              <div class="trip_overview">
                <div class="self_clear">
                  <a href="/travel/?tid=5658" title="View the overview for Nepal Extension">
                    <img src="/images/nepal_extension.jpg" alt="View details for Nepal Extension" title="View details for Nepal Extension" width="125" height="125"></a>
                  <ul class="link_list self_clear clear_list_style">
                    <li>
                      <a class="icon swirl_arrow" href="/travel/?tid=5658" title="View the overview for Nepal Extension">Overview</a>
                    </li>
                    <li>
                      <a class="icon notebook" href="/travel/?tid=5658&amp;fuseaction=dsp_itinerary" title="View the itinerary for Nepal Extension">Itinerary</a>
                    </li>
                    <li>
                      <a class="icon dates" href="/travel/?tid=5658&amp;fuseaction=dsp_dates" title="View the dates &amp; prices for Nepal Extension">Dates &amp; Prices</a>
                    </li>
                    <li style="margin-top:2px;">
                      <input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5658">
                      <p class="clear_margins float_left  compare_link">Compare</p>
                    </li>
                  </ul>
                  <ul class="align_edges line_rule clear_margins">
                    <li>
                      <span>
                        <a class="icon extensions amp" href="javascript:void(0);" onclick="getSeriesOverlay('28')" title="Extension">Extension</a>
                      </span>
                      Series:
                    </li>
                    <li>
                      <span>$1,495</span>
                      Priced From:
                    </li>
                    <li>
                      <span>4</span>
                      Days:
                    </li>
                    <li>
                      <span>On Request</span>
                      Departures:
                    </li>
                    <li>
                      <span>N/A</span>
                      Max Group Size:
                    </li>
                  </ul>
                </div>
              </div>
            </dd>
          </dl>
          <div id="customize_trip">
            <h3 class="clear_margins">Extend Your Stay</h3>
            <p></p>
            <p class="clear_margins">
              See all A&amp;K Extensions.&nbsp;&nbsp;
              <a class="icon swirl_arrow" href="/search.cfm?new_search=1&amp;tif=705&amp;scp=1">View all</a>
            </p>
          </div>
        </div>
        <div id="tab5" class="hide tab_item">
          <div style="width:80%">
            <div class="self-clear">
              <p id="requiredText">
                Required <em>*</em>
              </p>
            </div>
            <form action="/travel/?fuseaction=act_question&amp;tid=5628" id="faq_form" method="post" name="faq_form" class="uniForm">
              <fieldset class="inlineLabels">
                <h3>Your Information</h3>
                <div id="ctrlHolder_contact_preference" class="ctrlHolder borderTop">
                  <p class="errorFieldHide" id="contact_preference_err"></p>
                  <p class="label ">Preferred method of contact</p>
                  <label for="contact_preference-1" class="inlineLabel">
                    <input name="contact_preference" id="contact_preference-1" type="radio" value="Email" checked="checked" class="" tabindex="1">Email</label>
                  <label for="contact_preference-2" class="inlineLabel">
                    <input name="contact_preference" id="contact_preference-2" type="radio" value="Daytime Phone" class="" tabindex="1">Daytime Phone</label>
                </div>
                <div id="ctrlHolder_email" class="ctrlHolder">
                  <p class="errorFieldHide" id="email_err">Enter a valid email address</p>
                  <label for="email" class="required"> <em>*</em>
                    Email Address
                  </label>
                  <input name="email" id="email" value="" size="30" type="text" class="required email" tabindex="2">          
                  <p class="formHint">(one address)</p>
                </div>
                <div id="ctrlHolder_title" class="ctrlHolder">
                  <p class="errorFieldHide" id="title_err">Select your title</p>
                  <label for="title" class="required">
                    <em>*</em>
                    Title
                  </label>
                  <select name="title" id="title" class="required" tabindex="3">
                    <option value="0">Select a Title</option>
                    <option value="153">Mr.</option>
                    <option value="154">Mrs.</option>
                    <option value="155">Ms.</option>
                    <option value="157">Dr.</option>
                  </select>
                </div>
                <div id="ctrlHolder_firstName" class="ctrlHolder">
                  <p class="errorFieldHide" id="firstName_err">Enter your first name</p>
                  <label for="firstName" class="required">
                    <em>*</em>
                    First Name
                  </label>
                  <input name="firstName" id="firstName" value="" size="30" type="text" class="required" tabindex="4">          
                  <p class="formHint">(as printed on Passport)</p>
                </div>
                <div id="ctrlHolder_lastName" class="ctrlHolder">
                  <p class="errorFieldHide" id="lastName_err">Enter your last name</p>
                  <label for="lastName" class="required">
                    <em>*</em>
                    Last Name
                  </label>
                  <input name="lastName" id="lastName" value="" size="30" type="text" class="required" tabindex="5">          
                  <p class="formHint">(as printed on Passport)</p>
                </div>
                <div id="ctrlHolder_country" class="ctrlHolder">
                  <p class="errorFieldHide" id="country_err">Select a country</p>
                  <label for="country" class="required">
                    <em>*</em>
                    Country
                  </label>
                  <select name="country" id="country" class="required" tabindex="6">
                    <option value="0">Select a Country</option>
                    <option value="226">United States</option>
                    <option value="1">Afghanistan</option>
                    <option value="2">Albania</option>
                    <option value="3">Algeria</option>
                    <option value="4">American Samoa</option>
                    <option value="5">Andorra</option>
                    <option value="6">Angola</option>
                    <option value="7">Anguilla</option>
                    <option value="8">Antarctica</option>
                    <option value="9">Antigua and Barbuda</option>
                    <option value="245">Arctic</option>
                    <option value="10">Argentina</option>
                    <option value="11">Armenia</option>
                    <option value="12">Aruba</option>
                    <option value="13">Australia</option>
                    <option value="14">Austria</option>
                    <option value="15">Azerbaijan</option>
                    <option value="16">Bahamas</option>
                    <option value="17">Bahrain</option>
                    <option value="18">Bangladesh</option>
                    <option value="19">Barbados</option>
                    <option value="20">Belarus</option>
                    <option value="21">Belgium</option>
                    <option value="22">Belize</option>
                    <option value="23">Benin</option>
                    <option value="24">Bermuda</option>
                    <option value="25">Bhutan</option>
                    <option value="26">Bolivia</option>
                    <option value="27">Bosnia and Herzegovina</option>
                    <option value="28">Botswana</option>
                    <option value="29">Bouvet Island</option>
                    <option value="30">Brazil</option>
                    <option value="31">British Indian Ocean Territory</option>
                    <option value="32">Brunei Darussalam</option>
                    <option value="33">Bulgaria</option>
                    <option value="34">Burkina Faso</option>
                    <option value="35">Burundi</option>
                    <option value="36">Cambodia</option>
                    <option value="37">Cameroon</option>
                    <option value="38">Canada</option>
                    <option value="39">Cape Verde</option>
                    <option value="40">Cayman Islands</option>
                    <option value="41">Central African Republic</option>
                    <option value="42">Chad</option>
                    <option value="43">Chile</option>
                    <option value="44">China</option>
                    <option value="45">Christmas Island</option>
                    <option value="46">Cocos (Keeling) Islands</option>
                    <option value="47">Colombia</option>
                    <option value="48">Comoros</option>
                    <option value="49">Congo</option>
                    <option value="50">Congo, the Democratic Republic of the</option>
                    <option value="51">Cook Islands</option>
                    <option value="52">Costa Rica</option>
                    <option value="53">Cote D'Ivoire</option>
                    <option value="54">Croatia</option>
                    <option value="55">Cuba</option>
                    <option value="56">Cyprus</option>
                    <option value="57">Czech Republic</option>
                    <option value="58">Denmark</option>
                    <option value="59">Djibouti</option>
                    <option value="60">Dominica</option>
                    <option value="61">Dominican Republic</option>
                    <option value="62">Ecuador &amp; Galápagos</option>
                    <option value="63">Egypt</option>
                    <option value="64">El Salvador</option>
                    <option value="65">Equatorial Guinea</option>
                    <option value="66">Eritrea</option>
                    <option value="67">Estonia</option>
                    <option value="68">Ethiopia</option>
                    <option value="69">Falkland Islands (Malvinas)</option>
                    <option value="70">Faroe Islands</option>
                    <option value="71">Fiji</option>
                    <option value="72">Finland</option>
                    <option value="73">France</option>
                    <option value="74">French Guiana</option>
                    <option value="75">French Polynesia</option>
                    <option value="76">French Southern Territories</option>
                    <option value="77">Gabon</option>
                    <option value="78">Gambia</option>
                    <option value="79">Georgia</option>
                    <option value="80">Germany</option>
                    <option value="81">Ghana</option>
                    <option value="82">Gibraltar</option>
                    <option value="83">Greece</option>
                    <option value="84">Greenland</option>
                    <option value="85">Grenada</option>
                    <option value="86">Guadeloupe</option>
                    <option value="87">Guam</option>
                    <option value="88">Guatemala</option>
                    <option value="89">Guinea</option>
                    <option value="90">Guinea-Bissau</option>
                    <option value="91">Guyana</option>
                    <option value="92">Haiti</option>
                    <option value="93">Heard Island and McDonald Islands</option>
                    <option value="94">Holy See (Vatican City State)</option>
                    <option value="95">Honduras</option>
                    <option value="96">Hong Kong</option>
                    <option value="97">Hungary</option>
                    <option value="98">Iceland</option>
                    <option value="99">India</option>
                    <option value="100">Indonesia</option>
                    <option value="101">Iran</option>
                    <option value="102">Iraq</option>
                    <option value="103">Ireland</option>
                    <option value="104">Israel</option>
                    <option value="105">Italy</option>
                    <option value="106">Jamaica</option>
                    <option value="107">Japan</option>
                    <option value="108">Jordan</option>
                    <option value="109">Kazakhstan</option>
                    <option value="110">Kenya</option>
                    <option value="111">Kiribati</option>
                    <option value="114">Kuwait</option>
                    <option value="115">Kyrgyzstan</option>
                    <option value="116">Laos</option>
                    <option value="117">Latvia</option>
                    <option value="118">Lebanon</option>
                    <option value="119">Lesotho</option>
                    <option value="120">Liberia</option>
                    <option value="121">Libya</option>
                    <option value="122">Liechtenstein</option>
                    <option value="123">Lithuania</option>
                    <option value="124">Luxembourg</option>
                    <option value="125">Macau</option>
                    <option value="126">Macedonia</option>
                    <option value="127">Madagascar</option>
                    <option value="128">Malawi</option>
                    <option value="129">Malaysia</option>
                    <option value="130">Maldives</option>
                    <option value="131">Mali</option>
                    <option value="132">Malta</option>
                    <option value="133">Marshall Islands</option>
                    <option value="134">Martinique</option>
                    <option value="135">Mauritania</option>
                    <option value="136">Mauritius</option>
                    <option value="137">Mayotte</option>
                    <option value="138">Mexico</option>
                    <option value="139">Micronesia, Federated States of</option>
                    <option value="140">Moldova</option>
                    <option value="141">Monaco</option>
                    <option value="142">Mongolia</option>
                    <option value="143">Montserrat</option>
                    <option value="144">Morocco</option>
                    <option value="145">Mozambique</option>
                    <option value="146">Myanmar (Burma)</option>
                    <option value="147">Namibia</option>
                    <option value="148">Nauru</option>
                    <option value="149">Nepal</option>
                    <option value="150">Netherlands</option>
                    <option value="151">Netherlands Antilles</option>
                    <option value="152">New Caledonia</option>
                    <option value="153">New Zealand</option>
                    <option value="154">Nicaragua</option>
                    <option value="155">Niger</option>
                    <option value="156">Nigeria</option>
                    <option value="157">Niue</option>
                    <option value="158">Norfolk Island</option>
                    <option value="112">North Korea</option>
                    <option value="159">Northern Mariana Islands</option>
                    <option value="160">Norway</option>
                    <option value="161">Oman</option>
                    <option value="162">Pakistan</option>
                    <option value="163">Palau</option>
                    <option value="165">Panama</option>
                    <option value="166">Papua New Guinea</option>
                    <option value="167">Paraguay</option>
                    <option value="168">Peru</option>
                    <option value="169">Philippines</option>
                    <option value="170">Pitcairn Islands</option>
                    <option value="171">Poland</option>
                    <option value="172">Portugal</option>
                    <option value="174">Qatar</option>
                    <option value="175">Reunion</option>
                    <option value="176">Romania</option>
                    <option value="177">Russia</option>
                    <option value="178">Rwanda</option>
                    <option value="179">Saint Helena</option>
                    <option value="180">Saint Kitts and Nevis</option>
                    <option value="181">Saint Lucia</option>
                    <option value="182">Saint Pierre and Miquelon</option>
                    <option value="183">Saint Vincent and the Grenadines</option>
                    <option value="184">Samoa</option>
                    <option value="185">San Marino</option>
                    <option value="186">Sao Tome and Principe</option>
                    <option value="187">Saudi Arabia</option>
                    <option value="188">Senegal</option>
                    <option value="190">Seychelles</option>
                    <option value="191">Sierra Leone</option>
                    <option value="192">Singapore</option>
                    <option value="193">Slovakia</option>
                    <option value="194">Slovenia</option>
                    <option value="195">Solomon Islands</option>
                    <option value="196">Somalia</option>
                    <option value="197">South Africa</option>
                    <option value="198">South Georgia and the South Sandwich Islands</option>
                    <option value="113">South Korea</option>
                    <option value="199">Spain</option>
                    <option value="200">Sri Lanka</option>
                    <option value="201">Sudan</option>
                    <option value="202">Suriname</option>
                    <option value="203">Svalbard and Jan Mayen</option>
                    <option value="204">Swaziland</option>
                    <option value="205">Sweden</option>
                    <option value="206">Switzerland</option>
                    <option value="207">Syria</option>
                    <option value="208">Taiwan</option>
                    <option value="209">Tajikistan</option>
                    <option value="210">Tanzania</option>
                    <option value="211">Thailand</option>
                    <option value="213">Togo</option>
                    <option value="214">Tokelau</option>
                    <option value="215">Tonga</option>
                    <option value="216">Trinidad and Tobago</option>
                    <option value="217">Tunisia</option>
                    <option value="218">Turkey</option>
                    <option value="219">Turkmenistan</option>
                    <option value="220">Turks and Caicos Islands</option>
                    <option value="221">Tuvalu</option>
                    <option value="222">Uganda</option>
                    <option value="223">Ukraine</option>
                    <option value="224">United Arab Emirates</option>
                    <option value="225">United Kingdom</option>
                    <option value="227">United States Minor Outlying Islands</option>
                    <option value="228">Uruguay</option>
                    <option value="229">Uzbekistan</option>
                    <option value="230">Vanuatu</option>
                    <option value="231">Venezuela</option>
                    <option value="232">Vietnam</option>
                    <option value="233">Virgin Islands, British</option>
                    <option value="234">Virgin Islands, U.S.</option>
                    <option value="235">Wallis and Futuna</option>
                    <option value="236">Western Sahara</option>
                    <option value="237">Yemen</option>
                    <option value="238">Zambia</option>
                    <option value="239">Zimbabwe</option>
                  </select>
                </div>
                <div id="ctrlHolder_workphone" class="ctrlHolder">
                  <p class="errorFieldHide" id="workphone_err"></p>
                  <label for="workphone" class="">Daytime Phone</label>
                  <input name="workphone" id="workphone" value="" size="30" type="text" class="" tabindex="7">          
                  <p class="formHint">(ex. 2345678901)</p>
                </div>
                <div id="ctrlHolder_extension" class="ctrlHolder">
                  <p class="errorFieldHide" id="extension_err"></p>
                  <label for="extension" class="">Extension</label>
                  <input name="extension" id="extension" value="" size="15" type="text" class="" tabindex="8"></div>
                <div id="ctrlHolder_question" class="ctrlHolder">
                  <p class="errorFieldHide" id="question_err">Ask your question here:</p>
                  <label for="question" class="required">
                    <em>*</em>
                    Your Question
                  </label>
                  <textarea name="question" id="question" rows="7" cols="60" class="required textInput" tabindex="9"></textarea>
                </div>
                <input name="submitid" id="submitid" value="1" type="hidden">         
                <input name="category" id="category" value="20" type="hidden">          
                <input name="product" id="product" value="15" type="hidden">          
                <input name="package" id="package" value="5628" type="hidden"></fieldset>
              <div class="buttonHolder">
                <input type="submit" name="submit_btn" id="submit_btn" value="Submit Your Question" class="uniFormButton" onclick="" tabindex="10"></div>
            </form>
          </div>
        </div>
        <!-- TRIP NAVIGATION BOTTOM -->
      </div>
    </div>

<% content_for :footer do %>
<%= javascript_include_tag "jquery.slides.min.js" %>
<script>
// refresh window active tabs on hash
var getTabActive=function(){
    $("#trip_navigation_top li").removeClass("current");
    $(".tab_item").addClass("hide");
    $('#trip_navigation_top a[href='+window.location.hash+']').parent().addClass("current");
    $(window.location.hash).removeClass("hide");
}
$("document").ready(function(){
  if(window.location.hash&&$(window.location.hash).length>0){
    getTabActive();
  }
})
$("#trip_navigation_top li a").live("click", function(){
  $("#trip_navigation_top li").removeClass("current");
  $(".tab_item").addClass("hide");
  $(this).parent().addClass("current");
  $($(this).attr("href")).removeClass("hide");
  return false;
})
// listen change of window.location.hash, then active
if (("onhashchange" in window) && !($.browser.msie)) {
     window.onhashchange = function () {
       if ($(window.location.hash).length>0) {
        getTabActive();
        return false;
       };     
     }
}
else {
  $(window).bind('hashchange', function() {
    if($(window.location.hash).length>1){
      getTabActive();
      return false;
     }
  });
}

var getSeriesOverlay=function(a){
  $(".text_modal").show();
  $('<div id="popout_modal_mask"></div>').appendTo("body");
}
$(".text_modal .close").click(function(){
  $(".text_modal").hide();
  $('#popout_modal_mask').remove();
});
$("#popout_modal_mask").live("click",function(){
  $(".text_modal").hide();
  $(".popout_modal").hide();
  $(this).remove();
})
var modal_slides=function(a){
  $(a).parent().parent().find(".popout_modal").show().find('#destination_slides_modal').slidesjs({
  width: 514,
  height: 344,
  navigation: false,
  pagination: {
    effect: "fade"
  },
  effect: {
    fade: {
      speed: 800
    }
  },
  callback:{
    loaded: function(number) {
          $('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
        },
    complete: function(number) {
          $('#popout_modal p.slide_img_title').text($("#destination_slides_modal img.slidesjs-slide").eq(number-1).attr("alt"));
    }
  }
});
  $('<div id="popout_modal_mask"></div>').appendTo("body");
  return false;
}
var modal_close=function(){
  $(".popout_modal").hide();
  $('#popout_modal_mask').remove();
  return false;
}


</script>
<% end %>