<ul id="breadcrumb_navigation" class="self_clear clear_list_style hide_from_print">
	<li>
		<a href="/">Home</a>
	</li>
	<li>&nbsp;&nbsp;/&nbsp;&nbsp;Search</li>
</ul>
<div class="self_clear">
	<div id="secondary_content" class="hide_from_print">
		<div class="hl3">Search By</div>
		<dl class="section clear_list_style">
			<dt>Travel Destinations</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<% @destinations.each do |destination| %>
							<li>
								<a href="/search" title="<%= destination.name %>"><%= destination.name %> (<%= destination.travels.size %>)</a>
							</li>
					<% end %>
				</ul>
			</dd>
			<!-- TRAVEL INTERESTS -->
			<dt>Travel Interests</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<% @interests.each do |interest| %>
						<li>
							<a href="search/" title="<%= interest.title %>"><%= interest.title %> (<%= interest.travels.size %>)</a>
						</li>
					<% end %>
				</ul>
			</dd>
			<!-- DEPARTURE DATES -->
			<dt>Departure Date</dt>
			<dd>
				<ul class="attribute_list clear_list_style">
					<% @departure_dates_years.each do |departure_date_year| %>
					<li>
						<a href="/search" title="Search for <%= departure_date_year %> trips"><%= departure_date_year %></a>
					</li>
						<% Datesprice.by_year(departure_date_year).map{|d| d.start_date.strftime("%Y.%m")}.uniq.sort.each do |departure_date_month| %>
							<li>
								<a href="/search" title="Search for <%= departure_date_month %> trips"><%= departure_date_month %></a>
							</li>
						<% end %>
					<% end %>
				</ul>
			</dd>
			<!-- PRICE RANGE -->
			<dt>Price Range</dt>
			<dd>
				<ul class="attribute_list bullet_list">
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=0&amp;prhf=5000&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for Less than $5,000 trips">Less than $5,000</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=5000&amp;prhf=9999&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $5,000 - $9,999 trips">$5,000 - $9,999</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=10000&amp;prhf=14999&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $10,000 - $14,999 trips">$10,000 - $14,999</a>
					</li>
					<li>
						<a href="/search.cfm?tdgf=0&amp;tdcf=0&amp;tif=&amp;dryf=0&amp;drmf=0&amp;drdf=0&amp;prlf=15000&amp;prhf=1000000&amp;kwf=&amp;scrs=0&amp;stf=0&amp;scp=1" title="Search for $15,000 &amp; Above trips">$15,000 &amp; Above</a>
					</li>
				</ul>
			</dd>
		</dl>
		<div class="end_cap"></div>
		<div id="dMainFBContest"></div>
	</div>
	<div id="primary_content" class="align_edges">
		<h1>Search</h1>
		<form id="keyword-search-form-embed" class="light-form" style="margin:14px 0;" action="/search.cfm" method="">
			<input name="kwf" id="kwf_embed" type="text" size="25" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
			<input type="image" src="/images/search_button.gif"></form>
		<!-- PRIVATE TRAVEL BOX -->
		<div id="customize_trip">
			<span class="customize_trip_button">
				<a href="/discover/private-travel/request-private-travel/">submit request</a>
			</span>
			<h3 class="clear_margins">Travel Independently with A&amp;K</h3>
			<p class="clear_margins">
				A&amp;K offers a wealth of private travel options, all led by our expert local guides. Contact one of our travel specialists at 800 554 7016 or request your own custom private travel itinerary.
			</p>
		</div>
		<!-- SEARCH RESULTS -->
		<!-- SEARCH RESULTS -->
		<ul id="search-results" class="self_clear clear_list_style">
			<% @travels.each do |travel| %>
			<li class="self_clear">
				<a href="/travels/<%= travel.id %>" title="<%= travel.name %>">
					<img src="<%= travel.cover.url %>" alt="<%= travel.name %>" title="<%= travel.name %>"></a>
				<h3>
					<a href="/travels/<%= travel.id %>" title="<%= travel.name %>"><%= travel.name %></a>
				</h3>
				<span class="search-details">
					From 
                      $<%= travel.priced_from %>
				</span>
				<span>
					<a class="icon luxury amp" href="javascript:void(0);" onclick="getSeriesOverlay(this)" title="<%= travel.interests.first.title %>"><%= travel.interests.first.title %></a>
				</span>
				<ul class="self_clear clear_list_style clear_margins">
					<li class="search-description">
						<span class="float_right">
							<input style="height:12px; width:12px; margin-right:6px;" class="select_trip float_left" type="checkbox" value="5628">
							<span>Compare</span>
						</span>
						<%= travel.days_count %> days |
                    
                    Limited to <%= travel.max_group_size %> guests
					</li>
					<li>
						<p>
							<%= travel.overview_desc %>
						</p>
					</li>
					<li class="quicklinks">
						<span>
							<a href="/travels/<%= travel.id %>/#tab2" title="View the itinerary for <%= travel.name %>">Itinerary</a>
							|
							<a href="/travels/<%= travel.id %>/#tab3" title="View the dates &amp; prices for Taj Mahal &amp; the Treasures of India">Dates &amp; Prices</a>
						</span>
					</li>
				</ul>
				<div class="text_modal">
					<a class="close"></a>
					<div class="overlay-details">
						<div class="overlay-padding">
							<h3 class="clear_margins"><%= travel.interests.first.title %></h3>
							<p style="margin-bottom: 0px;"><%= travel.interests.first.cont %></p>
						</div>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
		<div class="paging self_clear">
      <%= paginate @travels %>
      <span>Go to page:</span> Showing <%= @travels.offset_value + 1 %> - <%= @travels.offset_value + @travels.length %> of <%= @travels.total_count %>
    </div>
	</div>
</div>

<% content_for :footer do %>
<script>
$("#search-results li.search-description span.float_right input.select_trip").change(function(){
	if($(this).is(":checked")){
		$(this).parent().find("span").html("<a href='/compare'>Compare</a>");
	}else{
		$(this).parent().find("span").html("Compare");
	}
});
var getSeriesOverlay=function(a){
	$(a).parent().parent().find(".text_modal").show();
	$('<div id="popout_modal_mask"></div>').appendTo("body");
}
$(".text_modal .close").click(function(){
	$(".text_modal").hide();
	$('#popout_modal_mask').remove();
});
$("#popout_modal_mask").live("click",function(){
	$(".text_modal").hide();
	$(".popout_modal").hide();
	$(this).remove();
})
</script>
<% end %>		