<p id="notice"><%= notice %></p>

<p>
  <b>Mrs title:</b>
  <%= @gbooking.mrs_title %>
</p>

<p>
  <b>First name:</b>
  <%= @gbooking.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @gbooking.last_name %>
</p>

<p>
  <b>Preferred contact method:</b>
  <%= @gbooking.preferred_contact_method %>
</p>

<p>
  <b>Email:</b>
  <%= @gbooking.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @gbooking.phone %>
</p>

<p>
  <b>Country:</b>
  <%= @gbooking.country %>
</p>

<p>
  <b>Region:</b>
  <%= @gbooking.region %>
</p>

<p>
  <b>Postal code:</b>
  <%= @gbooking.postal_code %>
</p>

<p>
  <b>Is subscribe:</b>
  <%= @gbooking.is_subscribe %>
</p>

<p>
  <b>User:</b>
  <%= @gbooking.user_id %>
</p>

<p>
  <b>Agent name:</b>
  <%= @gbooking.agent_name %>
</p>

<p>
  <b>Agent code:</b>
  <%= @gbooking.agent_code %>
</p>

<p>
  <b>Destination:</b>
  <%= @gbooking.destination_id %>
</p>

<p>
  <b>Departure date:</b>
  <%= @gbooking.departure_date %>
</p>

<p>
  <b>Trip day length:</b>
  <%= @gbooking.trip_day_length %>
</p>

<p>
  <b>Adult count:</b>
  <%= @gbooking.adult_count %>
</p>

<p>
  <b>Child count:</b>
  <%= @gbooking.child_count %>
</p>

<p>
  <b>Event comment:</b>
  <%= @gbooking.event_comment %>
</p>

<p>
  <b>City comment:</b>
  <%= @gbooking.city_comment %>
</p>


<%= link_to 'Edit', edit_gbooking_path(@gbooking) %> |
<%= link_to 'Back', gbookings_path %>